/* Pagrindinis css dokumentas kuriame cookinti galima stiliukus */
body {
    background-color: #FFB77D; /* Šviesesnė oranžinė spalva fonui */
    padding-top: 150px; /* Pridėkite vietos viršuje, kad turinys neuždengtų antraštės */
    margin: 0;
}

.miestelis_button {
    background: none;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) scale(0.6); /* Sumažina mygtuką 20% ir centruoja vertikaliai */
    z-index: 1001;

    .miestelis_button img {
        width: 100%;
        height: auto;
        object-fit: contain;
        /* Užtikrina, kad visa nuotrauka tilptų, neprarandant proporcijų */
        display: block;
        /* Pašalina galimą tarpą po nuotrauka */
    }
}

.text-center {
    text-align: center;
}

.nuotaikos-mygtukai {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nuotaikos-mygtukai button {
    font-size: 24px;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    background-color: #FFA353;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.nuotaikos-mygtukai button:hover {
    transform: scale(1.1);
}
